@page
@model WestwindWebApp.Pages.SendMailModel
@{
}
<div class="alert alert-info">
    @Html.Raw(Model.FeedbackMessage)
</div>
<form method="post">
    <h1>Client App </h1>
    
    @*<div class="mb-3">
        <label asp-for="MailUsername" class="form-label">Email Address</label>
        <input type="email" required class="form-control" asp-for="MailUsername" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="MailAppPassword" class="form-label">App Password</label>
        <input type="password" required class="form-control" asp-for="MailAppPassword">
    </div>*@
    <div class="mb-3">
        <label asp-for="EmailToAddress" class="form-label">Send To:</label>
        <input type="email" required class="form-control" asp-for="EmailToAddress" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label asp-for="EmailSubject" class="form-label">Subject</label>
        <input type="text" required class="form-control" asp-for="EmailSubject">
    </div>
    <div class="form-floating">
        <textarea class="form-control" rows="10" cols="50" required placeholder="Message" asp-for="EmailMessage"></textarea>
        <label asp-for="EmailMessage">Messsage</label>
    </div>
   
     <button type="submit" asp-page-handler="SendMail" class="btn btn-primary mt-3">Send</button>
    <button type="submit" asp-page-handler="ClearForm" class="btn btn-secondary mt-3">clear</button>
</form>